################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GuteFrage-Crawler/bin
/GuteFrage-Crawler/obj
